# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django
*.db
*.pot
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Migrations
*/migrations/*.py
*/migrations/*.pyc

# Celery Beat
celerybeat-schedule

.coverage